@import "vars.css";

@mixin heading($h,$chw,$tbl,$tbr,$l,$r,$tb) {
  .#{$h}-wrapper {
    display: inline-flex;
    margin-left: auto;
    flex-direction: column;
    color: white;
  }

  .#{$h}-wrapper > div:nth-child(1),
  .#{$h}-wrapper > div:nth-child(2),
  .#{$h}-wrapper > div:nth-child(3) {
    display: flex;
  }

  .#{$h}-wrapper > div:nth-child(1) div,
  .#{$h}-wrapper > div:nth-child(3) div {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  .#{$h}-wrapper > div:nth-child(1) div::before,
  .#{$h}-wrapper > div:nth-child(3) div::before {
    content: $tb;
    white-space: nowrap;
    position: absolute;
  }

  .#{$h}-wrapper > div:nth-child(1)::before,
  .#{$h}-wrapper > div:nth-child(3)::before {
    content: $tbl;
  }

  .#{$h}-wrapper > div:nth-child(1)::after,
  .#{$h}-wrapper > div:nth-child(3)::after {
    content: $tbr;
  }

  .#{$h}-wrapper > div:nth-child(2) > div:nth-child(1),
  .#{$h}-wrapper > div:nth-child(2) > div:nth-child(3) {
    position: relative;
    min-width: calc(var(--char-width) * #{$chw});
    overflow: hidden;
  }

  .#{$h}-wrapper > div:nth-child(2) > div:nth-child(1)::before {
    content: $l;
    position: absolute;
  }

  .#{$h}-wrapper > div:nth-child(2) > div:nth-child(3)::before {
    content: $r;
    position: absolute;
  }

  .#{$h}-wrapper #{$h}::before {
    padding-right: var(--char-width);
    color: white;
  }

  .#{$h}-wrapper #{$h}::after {
    padding-left: var(--char-width);
    color: white;
  }
}


@include heading(h1,2,"/*","*/","/*\A /*\A /*","*/\A */\A */",'------------------------------------------------------------------------------------------------------');
.h1-wrapper {
  display: flex;
  color: #ffff54;
}
.h1-wrapper > div:nth-child(2) {
  justify-content: space-between;
}
.main-content h1 {
  color: #ffffff;
}
.h1-wrapper h1 {
  display: block;
  color: #ffffff;
  margin: 0 var(--char-width);
}

@include heading(h2,2,"//","//","//\A //\A //","//\A //\A //",'---------------------------------------------------------------------------------------------------');

.h2-wrapper h2 {
  display: flex;
  color: #ffff54;
  margin: 0 var(--char-width);
}

.h2-wrapper-block {
  margin-bottom: var(--char-height);
}

.h2-wrapper-block:not(:first-child) {
  margin-top: calc(var(--char-height) * 2);
}

h1 + .h2-wrapper-block:not(:first-child) {
  margin-top: calc(var(--char-height) * 1);
}


