
@import "vars.css";

@mixin set-width($min-width, $max-width, $width-unit, $min-vw, $max-vw, $vw-unit, $steps, $selector) {
  $width-range: $max-width - $min-width;
  $vw-range: $max-vw - $min-vw;
  @for $step from 1 through $steps {

    $width: round($min-width + (($step - 1) / ($steps - 1)) * $width-range);
    $vw: (($width - $min-width)/$width-range)*$vw-range+$min-vw;

    @media (min-width: $vw*$vw-unit) {
      #{$selector} {
        max-width: $width*$width-unit;
      }
    }
  }
}

$minimum: 31;
$char-width: 1;
$unit-w: 1ch;
$unit-vw: $char-width * 15px;
$selector: '.main-container';

body, #{$selector} {
  min-width: $minimum * $unit-w;
}

#{$selector} {
  max-width: $minimum * $unit-w;
}

@mixin my-set-width($min,$max,$minside,$maxside,$step-every) {
  @include set-width($min,$max,$unit-w,$min+$minside,$max+$maxside,$unit-vw,round(($max - $min) / $step-every),$selector);
}

@include my-set-width($minimum,60,0,0,1);
@include my-set-width(61,70,1,5,1);
@include my-set-width(71,90,5,10,1);